<html>
    <head>
    </head>
    <body>
        <form action='search' method='post'>
            {% csrf_token %}
            Username: <input type='text' name='username'/><br/>
            Filename: <input type='text' name='filename'/><br/>
            Server/Share: <input type='text' name='location'/><br/>
            Permissions: 
                <blockquote>
                {% for item in permission_types %}
                    {{ item }} <input type='checkbox' name='permissions' value='{{ item }}'/><br/>
                {% endfor %}
                </blockquote>

            <br/>
            <br/>
            <input type='submit' value='search'/>
        </form><!--
        Searching:<br/>
         filenum  files<br/>
         permissionnum  permissions</br>
         sharenum  shares<br/>
         usernum  users<br/>-->
        <br/>
        <blockquote>Large search results will take some time to collate -- please be patient</blockquote>
        <div class='help'>
            How To Search - A QuickStart Guide to Useful Regex:<br/>
            <br/>
            <blockquote></blockquote>
            <table>
                <tr><td>Any Character</td><td>.</td></tr>
                <tr><td>Any Number of Times</td><td>*</td></tr>
                <tr><td>Searching by File Extension</td><td>^.*\.[FILE EXT WITHOUT BRACKETS]$</td></tr>
                <tr><td>Searching by Name</td><td>.*Name.*</td></tr>
            </table>
        </div>
    </body>
</html>
